{{ define "main" }}
<section class="m-30 container mx-auto">
    <h1 class="text-h2 text-center m-5">Sponsors</h1>
</section>

{{ with site.GetPage "" }}
<section class="">
    {{ range $e := .Params.sponsors }}
    <div class="flex flex-col lg:even:flex-row lg:odd:flex-row-reverse even:bg-white lg:py-5">
        <div class="w-1/5"></div>
        <figure class="w-full lg:w-1/5 lg:max-w-full">
            <img
            src="{{ $e.image }}"
            alt="Afbeelding van sponser {{$e.name}}"
                class="w-full h-auto rounded"
            />
        </figure>
        <div class="w-1/5"></div>
        <div class="p-2 lg:w-1/5 m-1 lg:m-10">
          <h1 class="text-h1 font-bold">{{ $e.name }}</h1>
            <div class="py-6 markdown">
                {{ $e.content | markdownify }}
            </div>
            <a
                ref="{{ $e.href }}"
                role="button"
                class="btn min-w-14 btn-outline text-primary-100 border-solid border-primary-100 border-2 hover:bg-sky-800 hover:border-sky-800"
            >
              Link
            </a>
        </div>
        <div class="w-1/5"></div>
    </div>
    {{ end }}
</section>
{{ end }}
<section class="mt-10"></section>
{{ end }}
