{{ define "main" }} {{ $js := resources.Get "js/app.js" | js.Build | resources.Minify | fingerprint -}}
<script src="{{ $js.RelPermalink }}"></script>

<div class="container mx-auto mb-10">

    <h1 class="text-h2 text-center m-5">Over ons</h1>
    <div>
        <p class="text-center text-balance">
            OpenAI is an AI research and deployment company. Our mission is to ensure that
            artificial general intelligence benefits all of humanity.
        </p>

        <div class="card lg:card-side bg-base-100 shadow-xl mt-10">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-h2 text-center m-5">Sfeerbeelden</h1>

    {{ $gallery := (print .Params.gallery_folder "/*") }}
    <div id="gallery" class="flex flex-wrap justify-evenly">
        {{ range $k, $v := resources.Match $gallery }} {{ $image := resources.Get $v }} {{ $resized := $image.Resize
        "2500x webp q95" }}
        <div>
            <a
                href="{{$resized.RelPermalink}}"
                target="_blank"
            >
                {{ $thumbnail := $image.Resize "750x webp q85" }}
                <figure class="text-center w-[19vw] p-2">
                    <img class="rounded" src="{{ $thumbnail.RelPermalink }}" alt="" />
                </figure>
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
