{{ define "main" }}
<section class="m-30">
    <h1 class="text-h2 text-center m-5">Documenten</h1>
</section>
<section class="h-screen">
    <div class="container mx-auto">
        {{ range seq 4}}
        <div class="card bg-base-200 shadow-xl mt-10">
            <div class="card-body">
                <h2 class="card-title">Card title!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-accent">Download</button>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
