@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/markdown.css";

@layer components {
  .max-w-container {
      @apply max-w-[60vw];
      display: grid;
      @apply text-center;

  }

  .text-h1 {
      font-size: 4rem;
  }

  .text-h2 {
      font-size: 3rem;
  }
}
