@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*
 *  VARIABLES
 *
 */

$notification_green: #4ed2b1;
$notification_red: #d24e6f;

$black: #3c3c3c;
$white: #fefefe;
$grey: rgb(114, 119, 121);
$blue: #2daaf4;
$green: #239123;

$font-stack: "Roboto";

// TEMPLATE VARIABLES
{{ $image := resources.Get "images/20230211_143406.jpg" }}
{{ $background_image := $image.Resize "1900x webp q95" }}

{{ $image := resources.Get "images/kampioenschap.jpg" }}
{{ $footer_image := $image.Resize "1900x webp q50" }}

html {

    overflow-y: scroll;


}

body {

    font: 100% $font-stack;
    margin: 0;
    font-size: 15px;
    color: $grey;

}

h1{

    color: $green;
    margin: 0;
    font-size: 3vw;
    text-transform: uppercase;
    line-height: 120%;
    padding: 0% 0% 2% 0;

}

h2{

    color: $green;
    margin: 0;
    font-size: 2vw;
    text-transform: uppercase;
    line-height: 120%;
    padding: 0% 0% 2% 0;

}



a {

    color: $blue;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;

}

.notification {

    position: fixed;
    top: 50px;
    right: 0;
    border-radius: 4px;
    padding: 25px;
    margin-right: 1%;
    max-width: 17%;
    color: $white;
    width: 10%;
    z-index: 999;

}

.error {

    background-color: $notification_red;

}

.message {

    background-color: $notification_green;

}

navbar {

    width: 100%;
    height: 50px;
    position: fixed;
    top: 0%;
    z-index: 5;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    * {

        -webkit-transition:all 1s;
        -moz-transition:all 1s;
        -o-transition:all 1s;
        transition:all 1s;

    }

    ul {

        list-style-type: none;
        text-align: center;
        padding-top: 2px;
        padding-left: 0;

        li {

            display: inline;
            padding: 1% 2% 1% 2%;
            text-decoration: none;

            a {

                font-size: 1em;
                font-weight: 400;
                color: #656555;
                text-decoration: none;

            }

            a:hover {

                cursor: pointer;

            }

        }

    }

}

#main {

    position: relative;

}

#background {

    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("{{$background_image.RelPermalink}}");
    top: 0;
    opacity:0.15;

}

section {

    border-top: 1px solid #ccc;
    height: 100%;
    text-align: center;
    padding: 7% 0 7% 0;

}


#page-welcome-text-div {
    background-color: white;
    width: 3rem;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 10px;
    background: rgba(235, 235, 235, 0.75);
    border-radius: 1em;
    margin-top: 7%;

}
#page-welcome-text {
    opacity: 1 !important;
}

#page-welcome {
    padding: 10% 0% 18% 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("{{$footer_image.RelPermalink}}");
}

#page-teams {

    background-color: $white;

}

#page-leaders {

    table {

        margin: 0px auto;
        min-width: 40%;

        tr {

            td {

                padding: 2%;

            }

        }

    }

}

#page-training {

    background-color: $white;

    table {

        margin: 0px auto;
        min-width: 25%;

        tr {

            td {

                width: 100px;
                padding: 2%;

            }

        }

    }

}

#page-location {

    background-color: $white;

    #gmap {

        margin-top: 3%;

    }

}

#page-contact {

    background-color: $white;

    #contact_form {

        form {

            margin: auto;
            width: 30%;

            label {

                font-size: 1.2em;
                margin-bottom:: 500px;

            }

            input {

                padding: 1%;
                width: 50%;
                border: 1px solid #aaa;
                display: block;
                margin: 3% auto 5% auto;

            }

            textarea {

                padding: 1%;
                width: 60%;
                height: 9vh;
                display: block;
                margin: 5% auto 5% auto;
                border: 1px solid #aaa;

            }

            button {

                display: block;
                margin: auto;
                width: 30%; border: $black solid 4px; cursor: pointer;
                background-color: $black;
                color: $white;
                font-size: 20px;
                padding-top: 8px;
                padding-bottom: 8px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
                font-weight: 700;
                border-radius: 0.4em;

            }

            button:hover {

                background-color: $white;
                color: $black;
                border: $white solid 4px;

            }

        }

    }

}

#page-footer {

    padding: 1% 0% 1% 0%;
    background-color: $white;

}

@media only screen and (max-width: 800px) {

    body {

        font-size: 10px;

    }

    p {

        padding: 0% 5% 0% 5%;

    }

    #page-leaders {

        background-color: $white;

    }

    .no-mobile {

        display: none;

    }

    navbar {

        display: none;

    }

    #page-contact {

        background-color: $white;

        #contact_form {

            form {

                width: 90%;

            }

        }

    }

}
