{{ define "main" }}
<section class="m-30 lg:p-20 z-0 bg-gradient-to-b from-sky-700 to-rose-300">
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <figure class="w-full lg:w-1/2 lg:max-w-full">
                {{ with resources.Get "logo_kleur.png" }}
                <img src="{{ .RelPermalink }}" alt="Album" class="w-full h-auto rounded" />
                {{ end }}
            </figure>
            <div class="lg:w-1/2">
                <h1 class="text-h2 lg:text-h1 font-bold text-sky-50">Welkom bij TTC Teneramonda!</h1>
                <div class="py-6 text-cyan-50">{{ .Content }}</div>

                <a
                    href="/lid-worden"
                    role="button"
                    class="btn btn-outline text-cyan-50 border-solid border-cyan-50 border-2 hover:bg-sky-800 hover:border-sky-800 font-bold text-lg"
                >
                    Lid worden
                </a>
            </div>
        </div>
    </div>
</section>

<section class="m-30 pt-10 pb-10 bg-gray-50">
    <h2 class="text-h2 text-center mt-5">Events en nieuws</h2>
    <div class="grid grid-cols-12 mx-auto">
        <div class="col-span-full xl:col-start-2 xl:col-end-12 lg:flex lg:justify-center rounded p-1 xl:p-10">
            {{ if .Params.events }}

                {{ $today := now.Format "2006-01-02" }}

                {{ $parsedEvents := slice }}
                {{ range $index, $event := .Params.events }}

                    {{ $dateParts := split $event.date "/" }}
                    {{ $parsedDate := (time.AsTime (printf "%s-%s-%s" (index $dateParts 2) (index $dateParts 1) (index $dateParts 0))).Format "2006-01-02" }}

                    {{ $event_id := printf "event-%d" $index }}

                    {{ $newEvent := dict
                        "content"   $event.content
                        "date"      $parsedDate
                        "image"     $event.image
                        "title"     $event.title
                        "id"        $event_id
                        "og_date"   $event.date
                    }}
                    {{ $parsedEvents = $parsedEvents | append $newEvent }}
                {{ end }}

                {{ $past := where (sort $parsedEvents "date" "desc") "date" "<" $today }}
                {{ $future := where (sort $parsedEvents "date" "asc") "date" ">=" $today }}
                {{ $event_in_de_kijker := "" }}
                {{ if gt (len $future) 0 }}
                    {{ $event_in_de_kijker = index $future 0 }}
                {{ else if gt (len $past) 0 }}
                    {{ $event_in_de_kijker = index $past 0 }}
                {{ end }}

                <div class="lg:w-1/3 card my-5">
                    <div role="tablist" class="tabs tabs-lifted">

                        <input type="radio" name="my_tabs_2" role="tab" class="tab block text-nowrap font-bold" aria-label="Actueel" checked="checked" />

                        <div role="tabpanel" class="tab-content bg-base-100 border-1 border-solid border-gray-200 rounded-box p-6 overflow-y-scroll h-[53vh]">

                        {{ if (eq ($future | len) 0) }}
                        <p>Geen aankomende evenementen</p>
                        {{ end }}

                        {{ range $event := $future }}

                        <div class="event-item cursor-pointer card bg-gray-100 w-full shadow-xl mb-5 last:mb-0" data-target="{{ $event.id }}">
                            <div class="card-body p-3 pl-5">
                                <div>
                                    <h2 class="text-gray-500 text-1xl font-bold underline">{{ $event.og_date }}</h2>
                                </div>
                                <div class="lg:flex justify-between gap-1">
                                    <div class="mt-2 lg:m-0">
                                        <h2 class="card-title text-sm mb-1">{{ $event.title | truncate 100 }}</h2>
                                        <div class="markdown text-xs">{{ $event.content | markdownify | truncate 200 }}</div>
                                    </div>
                                    {{ if $event.has_action_button }}
                                    <div class="my-3 float-end">
                                        <a
                                            href="{{ $event.action_button_link }}"
                                            role="button"
                                            class="btn btn-accent"
                                        >
                                            {{ $event.action_button_content }}
                                        </a>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        </div>


                        <input type="radio" name="my_tabs_2" role="tab" class="tab text-nowrap font-bold" aria-label="In het verleden" />
                        <div role="tabpanel" class="tab-content bg-base-100 border-1 border-solid border-gray-200 rounded-box p-6 overflow-y-scroll h-[53vh]">
                        {{ range $event := $past }}

                        <div class="event-item cursor-pointer card bg-gray-100 w-full shadow-xl mb-5 last:mb-0" data-target="{{ $event.id }}">
                            <div class="card-body p-3 pl-5 pointer">
                                <div>
                                    <h2 class="text-gray-500 text-1xl font-bold line-through">{{ $event.og_date }}</h2>
                                </div>
                                <div class="lg:flex justify-between gap-1">
                                    <div class="mt-2 lg:m-0">
                                        <h2 class="card-title text-sm mb-1">{{ $event.title | truncate 100 }}</h2>
                                        <div class="markdown opacity-60 text-xs">{{ $event.content | markdownify | truncate 200 }}</div>
                                    </div>
                                    {{ if $event.has_action_button }}
                                    <div class="my-3 float-end">
                                        <a
                                            href="{{ $event.action_button_link }}"
                                            role="button"
                                            class="btn btn-accent"
                                        >
                                            {{ $event.action_button_content }}
                                        </a>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}

                        </div>
                    </div>
                </div>

                <!-- ================================================================================== -->
                <!-- ========================== EVENT IN DE KIJKER ==================================== -->
                <!-- ================================================================================== -->
                <div class="lg:w-2/3 card bg-base-100 lg:ml-5 shadow-xl m-0 p-0 my-5">
                    {{ range $event := $parsedEvents }}
                    <div id="{{$event.id}}" class="hidden events-details-list flex flex-col h-full"{{ if eq $event.id $event_in_de_kijker.id }} style="display: block"{{ end }}>
                        {{ if $event.image }}
                        <div class="h-1/2 overflow-y-auto">
                            <div id="gallery" class="pswp-gallery h-full">

                                {{ if hasPrefix $event.image "/assets/images" }}
                                {{ $source := strings.SliceString $event.image 7 }}
                                {{ $image := resources.Get $source }}
                                {{ $resized := $image.Resize "2500x webp q99" }}
                                {{ $thumbnail := $image.Resize "750x webp q85" }}

                                <a
                                    href="{{$resized.RelPermalink}}"
                                    data-pswp-width="{{ $resized.Width}}"
                                    data-pswp-height="{{ $resized.Height}}"
                                    target="_blank"
                                >
                                <figure class="h-full overflow-y-auto">
                                    <img
                                        class="object-contain m-auto w-full lg:h-72 xl:h-80"
                                        src="{{ $thumbnail.RelPermalink }}"
                                        alt="Event detail image"
                                    />
                                </figure>
                                </a>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                        <div class="h-1/2 overflow-auto">
                            <div class="card-body">
                                <div>
                                    {{ if lt $event.date $today }}
                                    <h2 class="text-gray-500 text-2xl font-bold line-through">
                                        {{ $event.og_date }}
                                    </h2>
                                    {{ else }}
                                    <h2 class="text-gray-500 text-2xl font-bold underline">
                                        {{ $event.og_date }}
                                    </h2>
                                    {{ end }}
                                </div>
                                <h2 class="card-title">{{ $event.title }}</h2>
                                <div class="markdown">{{ $event.content | markdownify }}</div>
                                {{ if $event.has_action_button }}
                                <div class="card-actions justify-end">
                                    <button class="btn btn-accent">
                                        <a href="{{ $event.action_button_link }}" class=""
                                            >{{ $event.action_button_content }}
                                        </a>
                                    </button>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="m-30 bg-base-100 pt-10 pb-10">
    <h2 class="text-h2 text-center m-5">Ploegen</h2>
    <div class="container mx-auto">
        <table class="table text-center">
            <!-- head -->
            <thead>
                <tr>
                    <th>Ploeg</th>
                    <th>Afdeling</th>
                    <th>Link naar Sporta</th>
                </tr>
            </thead>
            <tbody>
                {{ range $ploeg := .Params.ploegen }}
                <tr class="even:bg-base-200">
                    <td>
                        <p>{{ $ploeg.name }}</p>
                    </td>
                    <td>
                        <p>{{ $ploeg.division }}</p>
                    </td>
                    <td class="w-1/3">
                        <a
                            href="{{ $ploeg.link_naar_sporta }}"
                            role="button"
                            class="btn btn-accent"
                        >
                            Link naar sporta
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</section>

<section class="pt-10 pb-10 bg-gray-50">
    <h2 class="text-h2 text-center m-5">Wij danken onze Sponsors</h2>

    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center gap-10">
            {{ range $e := .Params.sponsors }}

            <div class="">
                <a href="/sponsors">
                    <img class="lg:max-w-96 min-w-60 rounded" src="{{ $e.image }}" alt="Afbeelding van een sponser" />
                </a>
            </div>

            {{ end }}
        </div>
    </div>
</section>

<section class="pt-10">
    <h2 class="text-h2 text-center m-5">Locatie</h2>
    <div class="hero">
        <div class="w-full">
            <iframe
                frameborder="0"
                style="border: 0"
                scrolling="no"
                frameborder="0"
                marginheight="0"
                marginwidth="0"
                width="100%"
                height="400px"
                src="{{ .Params.google_maps_link }}"
            ></iframe>
        </div>
    </div>
</section>

{{ $js := resources.Get "js/app.js" | js.Build | resources.Minify | fingerprint -}}
<script src="{{ $js.RelPermalink }}"></script>
<script>
    const events = document.querySelectorAll('.event-item');
    const events_detail_list = document.querySelectorAll('.events-details-list');

    events.forEach(e => {
        e.addEventListener('click', () => {
            events_detail_list.forEach(e2 => {
                e2.style.display = 'none';
            });

            const targetId = e.getAttribute('data-target');
            console.log(targetId);
            document.getElementById(targetId).style.display = 'block';
        });
    });
</script>
{{ end }}
