<!DOCTYPE html>

<!----------------------------------------------------------------------------------------------------------------------------------
<
< author: Sebastiaan Van Hoecke
< mail: sebastiaan@sevaho.io
<
< NOTE:
<
---------------------------------------------------------------------------------------------------------------------------------->

<html lang="nl">

<!----------------------------------------------------------------------------------------------------------------------------------
<
< HEAD
<
---------------------------------------------------------------------------------------------------------------------------------->

	<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatibe" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”robots” content="index, follow">
        <meta property="og:type" content="website"/>

        <title>{{ .Site.Title }}</title>
        <meta property="og:title" content="{{ .Site.Title }}">

        <meta name="description" content="{{ .Site.Params.Description }}"/>
        <meta property="og:description" content="{{ .Site.Params.Description }}">

        <meta name="keywords" content="TTC Teneramonda,tafeltennis,Oudegem,Teneramonda,teneramonda,Tafeltennis,Sport,Pingpong,Recreatie,Recreatief,Competitie,Dendermonde,"/>

        <meta content='{{ .Site.BaseURL }}' property='og:url'>

        {{ with resources.Get "favicon.png" }}
        {{ with .Resize "15x webp" }}
        <link rel="icon" href="{{ .RelPermalink }}" />
        {{ end }}
        {{ end }}


        <script defer data-domain="ttcteneramonda.be" src="https://plausible.io/js/script.js"></script>
        <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "Website",
        "name": "{{ .Site.Title }}",
        "address": {
        "@type": "PostalAddress", 
        "addressCountry": "BE",
        "addressLocality": "Dendermonde",
        "streetAddress": "Ouburg 61",
        "postalCode": "9200"
        },

        "telephone": "+32477715403",
        "description": "{{ .Site.Params.Description }}"
        }
        </script>


        <!-- MAIN CSS -->
        {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

	</head>

<!----------------------------------------------------------------------------------------------------------------------------------
<
< BODY
<
---------------------------------------------------------------------------------------------------------------------------------->

	<body>

        <navbar>
            <ul>
                <li><a href="#page-welcome">Welkom</a></li>
                <li><a href="#page-teams">Ploegen</a></li>
                <li><a href="#page-leaders">Bestuur</a></li>
                <li><a href="#page-training">Training</a></li>
                <li><a href="#page-location">Locatie</a></li>
            </ul>
        </navbar>

        <section id="background"></section>

        <div id="main">
        <section id="page-welcome">
            <div id = "page-welcome-text-div">
                <div id = "page-welcome-text">
                    <h2>Welkom bij</h2>
                    <h1>TTC Teneramonda</h1>
                </div>
            </div>
        </section>

        <section id="page-teams">
            <h2>Ploegen</h2>
            <h3>Jeugd</h3>
            <p>A ploeg jeugd speelt in <b>afdeling 2</b> (<a href="https://ttonline.sporta.be/club/4051/ploeg/A/jeugd">link naar sporta</a>)</p>
            <p>B ploeg jeugd speelt in <b>afdeling 4</b> (<a href="https://ttonline.sporta.be/club/4051/ploeg/B/jeugd">link naar sporta</a>)</p>
            <br>
            <h3>Senioren</h3>
            <p>A ploeg senioren speelt in <b>afdeling 7</b> (<a href="https://ttonline.sporta.be/club/4051/ploeg/A/senioren">link naar sporta</a>)</p>
            <p>B ploeg senioren speelt in <b>afdeling 7</b> (<a href="https://ttonline.sporta.be/club/4051/ploeg/B/senioren">link naar sporta</a>)</p>
            <br>
            <p></p>
            <p></p>
        </section>

        <section id="page-leaders">
            <h2>Bestuur</h2>
            <table>
                <tr><td >Voorzitter:</td><td>Tim Vinck</td><td><a href="tel:+32474832486">0474/83 24 86</a></td><td><a href="mailto:ttcteneramonda@outlook.be">ttcteneramonda@outlook.be</a></td></tr>
                <tr><td >Secretaris:</td><td>Tamara Van Paepeghem</td><td><a href="tel:+32468247127">0468/24 71 27</a></td><td><a href="mailto:ttcteneramonda@outlook.be">ttcteneramonda@outlook.be</a></td></tr>
                <tr></tr>
                <tr><td >Penningmeester:</td><td >Marc Stallaert</td><td ><a href="tel:+32478489987">0478/48 99 87</a></td><td ><a href="mailto:ttcteneramonda@outlook.be">ttcteneramonda@outlook.be</a></td></tr>
            </table>
        </section>

        <section id="page-training">
            <h2>Training</h2>

            <h3>Jeugd</h3>
            <br>

            <table>
              <th>Dag</th>
              <th>Uur</th>
              <th>Trainer</th>
            <tr>
              <td>Woensdag</td>
              <td>19u15 - 20u15</td>
              <td>Marc Stallaert</td>
            <tr>
              <td>Vrijdag</td>
              <td>19u15 - 20u15</td>
              <td>Marc Stallaert</td>
            </tr>
            </table>

            <br>
            <h3>Senioren</h3>
            <br>

            <table>
              <th>Dag</th>
              <th>Uur</th>
              <th>Trainer</th>
            <tr>
              <td>Woensdag</td>
              <td>20u15 - 22u00</td>
              <td>Marc Stallaert</td>
            <tr>
              <td>Vrijdag</td>
              <td>20u15 - 22u00</td>
              <td>(vrije training)</td>
            </tr>
            </table>
        </section>

        <section class="no-mobile">
        </section>

        <section id="page-location">
            <h2>Locatie</h2>
            <p>Wij zijn gelegen te:</p>
            <p>Ouburg 61</p>
            <p>9200 Oudegem</p>
            <br>
            <p>U kan ook een routebeschrijving van Google Maps verkrijgen door op de volgende link te klikken: <a target="blank" href="https://www.google.com/maps?ll=51.004316,4.06056&z=15&t=m&hl=en&gl=US&mapclient=embed&daddr=Oudegem+Sporthal+9200+Dendermonde+Belgium@51.0043157,4.0605603">routebeschrijving</a> .</p>
            <div id="gmap">
                <iframe id ="mapsmobile" frameborder="0" style="border:0" scrolling="no" frameBorder="0" marginheight="0" marginwidth="0" width="100%" height="400px" src="https://maps.google.com/maps?hl=en&q=Sporthal Oudegem, Dendermonde&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"></iframe>
            </div>

        </section>

        <section id="page-footer">
            <p> © 2023 | TTC Teneramonda</p>
            <!-- <p>Developed by | <a href="https://sevaho.io/portfolio">Sebastiaan Van Hoecke</a></p> -->
        </section>

        </div>


<!----------------------------------------------------------------------------------------------------------------------------------
<
< SCRIPTS
<
---------------------------------------------------------------------------------------------------------------------------------->


        <!-- MAIN JS -->
        {{ $js := resources.Get "js/main.js" | js.Build | resources.Minify | fingerprint -}}
        <script src="{{ $js.RelPermalink }}"></script>

	</body>

</html>
