{{ define "main" }}
<section class="m-30">
    <h1 class="text-h2 text-center m-5">Kledij</h1>
</section>

<section class="m-30 md:min-h-screen">
    <div class="container mx-auto">
        <div class="card lg:card-side bg-base-100 shadow-xl mt-10">
            <figure>
                <img src="{{.Params.image}}" alt="Album" class="w-full lg:max-w-[30vw] lg:max-h-[30vw]" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{ .Title }}</h2>
                {{ .Content }} {{ if .Params.has_action_button }}
                <div class="card-actions justify-end">
                    <a href="{{ .Params.action_button_link }}" role="button" class="btn btn-accent">
                        {{ .Params.action_button_content }}
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<section class="mt-10"></section>
{{ end }}
