{{ define "main" }}
<section class="m-30">
    <h1 class="text-h2 text-center m-5">Kledij</h1>
</section>

<section class="m-30 h-screen">
    <div class="container mx-auto">
        <div class="card lg:card-side bg-base-100 shadow-xl mt-10">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                </div>
            </div>
        </div>
        <div class="card lg:card-side bg-base-100 shadow-xl mt-10">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp" alt="Album" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Listen</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
