{{ define "main" }}
<section class="min-h-screen flex h-screen justify-center items-center">
    <div class="grid sm:grid-cols-2 items-start gap-16 p-2 lg:p-20 mx-auto max-w-4xl bg-white rounded">
        <div>
            <h1 class="text-gray-800 text-3xl font-extrabold">{{ .Title }}</h1>
            <p class="text-sm text-gray-500 mt-4">{{ .Content }}</p>

            <div class="mt-5">
                <div class="flex justify-star">
                    <div class="flex items-center">
                        <i class="fas fa-envelope text-primary-200 mr-2"></i>
                    </div>
                    <div class="text-sm">
                        {{ with site.GetPage "" }}
                        <a class="text-sky-500" href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <form
            class="space-y-4 mx-auto w-full"
            name="contact"
            <!-- action="https://forms.asic.li/forms?language=NL&#38;country=BE" -->
            action="https://forms.asic.li/forms/947cb518-bb59-4761-8038-51fb00d28859"
            method="post"
            onsubmit="return validateRecaptcha();"
        >
            {{ with site.GetPage "" }}
            <input
                name="mail_to_email"
                type="hidden"
                value="{{ .Params.email }}"
            />
            {{ end }}
            <input
                name="mail_to_name"
                type="hidden"
                value="Contact"
            />
            <input
                name="e-mail"
                type="email"
                placeholder="E-mail"
                class="input input-bordered w-full text-center px-0"
            />
            <input
                name="onderwerp"
                type="text"
                placeholder="Onderwerp"
                class="input input-bordered w-full px-0 text-center"
            />
            <textarea
                name="bericht"
                class="textarea textarea-bordered w-full px-0 text-center"
                placeholder="Bericht"
            ></textarea>

            <div class="g-recaptcha" data-sitekey="6Ld_rXAqAAAAAI6-eCI0l7jn5-JTzTbe60lfdLGk"></div>

            <button class="mx-auto btn btn-accent w-full" type="submit">Send</button>
        </form>
    </div>
</section>
<script>
    function validateRecaptcha() {
        // Get the value of the reCAPTCHA response token
        var recaptchaResponse = document.querySelector('[name="g-recaptcha-response"]').value;
        
        if (!recaptchaResponse) {
            // If no response, alert the user and prevent form submission
            alert("CAPTCHA is verplicht.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>
{{ end }}
