{{ define "main" }}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/locale-all.min.js'></script>

<div class="container mx-auto mt-10 mb-10">
    <div id="calendar"></div>
</div>

<script>
      let events = [
          {{ range $index, $e := $.Pages }}
          {{ if $index }}, {{ end }}
          {
              "title": "{{ .Title }}",
              "start": "{{ .Params.Startdate }}",
              "end": "{{ .Params.Enddate }}",
          }
          {{ end }}
      ]

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: 'nl',
          initialView: 'dayGridMonth',
          weekNumberCalculation: 'ISO',
          // initialDate: '2024-08-07',
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: events
      });

      calendar.render();
    });
</script>
{{ end }}
