{{ define "main" }}
<section class="min-h-screen container mx-auto mt-10 lg:mt-32">
    <div class="flex flex-col lg:flex-row lg:py-5">
        <figure class="xl:w-1/2 lg:max-w-full">
            <img src="{{.Params.image}}" alt="Uitpas" class="w-full lg:max-w-[30vw] lg:max-h-[30vw]" />
        </figure>
        <div class="xl:w-1/2 p-2 m-1 lg:m-10">
            <h1 class="text-h1 font-bold">{{ .Title }}</h1>
            <div class="py-6 markdown">{{ .Content }}</div>
        </div>
    </div>
</section>
{{ end }}
